input, select, textarea {
   border: #ddd 1px solid;
   border-radius: 4px;
}
input:focus, select:focus, textarea:focus {
   border: #ccc 1px solid;
   box-shadow: none;
}

p.required label::after {
   content: " *";
   color: #c00;
}

::-webkit-input-placeholder {
   color: #ccc;
}

:-moz-placeholder {
   color: #ccc;
}