// Base Colors (don't modify)

$white: hsl(0, 0%, 100%);

$background-brightest: hsl(0, 0%, 98%);
$background-brighter: hsl(0, 0%, 95%);
$background-bright: hsl(0, 0%, 85%);

$background-lightest: hsl(0, 0%, 80%);

$background-dark: hsl(0, 0%, 45%);
$background-darker: hsl(0, 0%, 40%);
$background-darkest: hsl(0, 0%, 30%);

$cerulean: hsl(200, 50%, 42.5%);

// Settings (safe to modify)

$font: Lato, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

$button-border: $background-lightest;
$button-background: $white;
$button-active: $background-brightest;
$button-perspective: $background-brighter;
$button-shadow: $background-bright;
$button-normal: $background-dark;
$button-primary: $cerulean;