.constrained {
   display: block;
   margin: 0 auto;
   padding: 16px 0 0 16px;
   overflow: hidden;
   width: 960px;
}

.group {
   clear: both;
   display: block;
   margin-left: auto;
   margin-right: auto;
   overflow: hidden;
}

.group .group {
   margin-right: -16px;
}

.panel {
   display: block;
   float: left;
   padding: 0 16px 0 0;
   margin: 0 0 16px;
}
   .panel .panel {
      margin-bottom: 0;
   }

   /* Move to scoped */
   .panel div {
      background: #eee;
      padding: 0 8px;
   }

.fine        { width: 10%; }
.diminuitive { width: 20%; }
.tiny        { width: 25%; }
.small       { width: 33.333%; }
.medium      { width: 50%; }
.large       { width: 66.666%; }
.huge        { width: 75%; }
.massive     { width: 80%; }
.gargantuan  { width: 90%; }
.colossal    { width: 100%; }

/* Forms */
form p {
   overflow: hidden;
}
label, input, select, textarea {
   display: block;
   width: 100%;
}
textarea {
   height: 64px;
   max-height: 192px;
   max-width: 100%;
}
label {
   padding: 0 0 0 4px;
}
input {
   line-height: 30px;

   height: 32px;
   padding: 0px 4px;
}
textarea {
   padding: 4px;
}
input[type="radio"], input[type="checkbox"] {
   float: left;
   margin: 0 0 0 4px;
   width: 16px;
}
input[type="radio"] + label, input[type="checkbox"] + label {
   line-height: 30px;

   float: left;
   margin: 0 16px 0 0;
   width: auto;
}

form button, form a {
   margin-right: 16px;
}

form a {
   line-height: 30px;
   display: block;
   float: left;
   height: 32px;
}