/*

   Contents
   1. Grid
   2. Typography
   3. Forms
   4. Tables
   5. Lists

*/

.constrained {
   display: block;
   margin: 0 auto;
   padding: 16px 0 0 16px;
   overflow: hidden;
   width: 960px;
}

.group {
   clear: both;
   display: block;
   margin-left: auto;
   margin-right: auto;
   overflow: hidden;
}

.group .group {
   margin-right: -16px;
}

.panel {
   display: block;
   float: left;
   padding: 0 16px 0 0;
   margin: 0 0 16px;
}

fieldset.panel { margin-bottom: 0; }

.fine        { width: 8.333%; }
.miniscule   { width: 16.666%; }
.diminuitive { width: 25%; }
.tiny        { width: 33.333%; }
.small       { width: 41.666%; }
.medium      { width: 50%; }
.large       { width: 58.333%; }
.huge        { width: 66.666%; }
.massive     { width: 75%; }
.immense     { width: 83.333%; }
.gargantuan  { width: 91.666%; }
.colossal    { width: 100%; }

/* 3. Forms */
form p {
   overflow: hidden;
}
form p.group .panel {
   margin-bottom: 0;
}
label, input, select, textarea {
   display: block;
   width: 100%;
}
textarea {
   height: 64px;
   max-height: 192px;
   max-width: 100%;
}
label {
   padding: 0 0 0 4px;
}
input {
   line-height: 30px;

   height: 32px;
   padding: 0px 4px;
}
textarea {
   padding: 4px;
}
select {
   height: 32px;
}

input[type="radio"], input[type="checkbox"] {
   float: left;
   margin: 0 0 0 4px;
   width: 16px;
}
input[type="radio"] + label, input[type="checkbox"] + label {
   line-height: 30px;

   float: left;
   margin: 0 16px 0 0;
   width: auto;
}

form button, form a {
   margin-right: 16px;
}

form a {
   line-height: 30px;
   display: block;
   float: left;
   height: 32px;
}

   /* 3.1. Buttons */
   p .button {
      margin-right: 8px;
   }

/* 4. Tables */
table {
   border-collapse: collapse;
   width: 100%;
}
th, td {
   padding: 0 4px;
}

/* 5. Lists */
ol, ul {
   list-style-type: none;
}

/* TODO: I don't like the descriptor "styled" and would like to replace it. */
ol.styled, ul.styled {
   padding-left: 24px;
}
   ol.styled { list-style-type: decimal; }
   ol.styled ol { list-style-type: lower-alpha; }