.constrained {
   display: block;
   margin: 0 auto;
   padding: 16px 0 0 16px;
   overflow: hidden;
   width: 960px;
}

.group {
   display: block;
   margin: 0 auto;
   overflow: hidden;
   width: 960px;
}

.panel {
   display: block;
   float: left;
   padding: 0 16px 0 0;
   margin: 0 0 16px;
}

   /* Move to scoped */
   .panel div {
      background: #eee;
      padding: 0 8px;
   }

.fine        { width: 10%; }
.diminuitive { width: 20%; }
.tiny        { width: 25%; }
.small       { width: 33.333%; }
.medium      { width: 50%; }
.large       { width: 66.666%; }
.huge        { width: 75%; }
.massive     { width: 80%; }
.gargantuan  { width: 90%; }
.colossal    { width: 100%; }