body, input, select, textarea {
   font-family: Lato, sans-serif;
   line-height: 1.618;
   text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5, h6 {
   font-weight: 400;
   text-transform: uppercase;
}

h1 { font-size: 36px; }
h2 { font-size: 28px; }
h3 { font-size: 24px; }
h4 { font-size: 20px; }
h5 { font-size: 18px; }
h6 { font-size: 16px; }

p  {
   font-size: 16px;
   margin: 0 0 8px; }

/* Forms */
legend {
   text-transform: uppercase;
   margin: 0 0 8px;
}

label {
   font-size: 14px;
}

input, select, textarea {
   font-size: 16px;
}

button, .btn {
   font-size: 13px;
}

form a {
   color: #999;
   font-size: 13px;
   text-decoration: none;
}
   form a:hover {
      text-decoration: underline;
   }